html {
    scroll-behavior: smooth;
}
body {
    margin: auto;
    padding: 0;
    display: block;
    background-color: #333333;
    width: 1440px;
    overflow-anchor: none;
    scrollbar-width: thin;
}

/* test */
/* .nav {
    background-color: rgba(91, 255, 255, 0.4);
}
.nav ul {
    background-color: rgba(255, 251, 15, 0.4);
}
.nav ul li {
    background-color: rgba(204, 44, 58, 0.4);
}
.nav ul li a {
    background-color: rgba(51, 51, 51, 0.4);
}
.nav ul li a img {
    border: crimson solid 1px;
} */
/* test */

.nav {
    position: sticky;
    top: -25px;
    right: 0;
    z-index: 9999;
    padding-right: 85px;
    margin-top: -100px;
    display: flex;
    justify-content: end;
}
.nav ul {
    list-style: none;
    border-radius: 0 0 10px 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    transition: all 1s;
}
.nav ul li {
    display: block;
    padding: 4px;
}
.nav ul li a {
    display: block;
}
.nav ul li a img {
    opacity: 0;
    margin: 0px;
    transition: all 0.2s;
}
.nav ul:hover {
    background-color: rgb(48, 48, 48, 0.9);
}
.nav ul:hover img {
    opacity: 1;
}
.nav img:hover {
    opacity: 1;
    filter: invert(55%) sepia(71%) saturate(497%) hue-rotate(353deg) brightness(107%) contrast(76%);
}
.nav img:hover ul{
    opacity: 0.1;
}
.nav img.active {
    opacity: 0.8;
    border-top: 5px solid #fff;
    filter: invert(55%) sepia(71%) saturate(497%) hue-rotate(353deg) brightness(107%) contrast(76%);
}
.nav img.home {
    content: url("../svg/home-default.svg");
}
.nav img.designsys {
    content: url("../svg/designsys-default.svg");
}
.nav img.exercises {
    content: url("../svg/exercises-default.svg");
}
.nav img.workouts {
    content: url("../svg/workouts-default.svg");
}
.nav img.planner {
    content: url("../svg/planner-default.svg");
}
.nav img.current {
    content: url("../svg/current-default.svg");
}

section {
    min-height: 120vh;
    margin-bottom: 20px;
}
/* section#home img {
    position: absolute;
    /* top: 0; */
} */